@media(max-width:750px){
    /* Para deixar o menu lateral adaptativo */
        .nav-list{
            position: absolute;
            top:8vh;
            right:0;
            width: 25vw;
            height: 92vh;
            background: #23232e;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
        }
        .nav-list li{
            margin-left: 0;
            }
        }
       
  